<h1>chat with <%= @chat.participants.to_sentence %></h1>
<h2>messages</h2>
<% if @chat.messages.empty? %>
	<h2>no messages yet!</h2>
<% else %>
	<ul>
		<% @chat.messages.each do |message| %>
			<li>
				<%= time_ago_in_words message.created_at, include_seconds: true %> ago,
				<strong><%= message.user.name %></strong>
				said
				<q><%= message.content %></q>
			</li>
		<% end %>
	</ul>
<% end %>
<%= form_with model: @new_message, url: chat_send_message_path(@chat) do |f| %>
	<%= f.text_area :content, placeholder: 'type here' %>
	<%= f.hidden_field :conversation_id %>
	<%= f.submit 'send' %>
<% end %>
